.button {
  
  width: 68px;
  height: 67px;
  border: 0;

  background-image: url('/public/images/Vector.png');
  background-color: transparent;
  
  
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  
  z-index: 1;

  
}