.container--title {
  
  color: var(--title-color);
  font-family: 'digital numbers';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  top: 100px;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  
}

.container--phrase {
  font-family: 'digital numbers';
  color: var(--phrase-color);
  font-weight: 500;
  text-align: center;

  margin: 5%;
  padding: 70px 40px;
  max-width: 460px;
  max-height: 250px;
  background: linear-gradient(180deg, var(--title-color) 0%, rgba(255, 255, 255, 0.33) 100%);
  border-radius: 39px;

  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2;

}

.container--author  {
  height: 200px;
  width: 400px;
  aspect-ratio: 2;

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  opacity: .9;
  
  z-index: 0;
}

.container--author > h4 {
  
  

 /*  max-width: max-content; */
 
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  
  
  /*   text-shadow: -1px -1px .5px #000, 1px 1px .5px #000, -1px 1px .5px #000, 1px -1px .5px #000;*/
  position:absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}


 

